@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;

@layer base {
	h1 {
		font-size: var(--h1-font-size);
	}
	h2 {
		font-size: var(--h2-font-size);
	}
	h3 {
		font-size: var(--h3-font-size);
	}
}

@tailwind components;
@tailwind utilities;

:root {
	/*========== Colors ==========*/
	/* Change favorite color */
	--ps-hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL color mode */
	--ps-first-color: hsl(var(--ps-hue-color), 69%, 61%);
	--ps-first-color-second: hsl(var(--ps-hue-color), 69%, 61%);
	--ps-first-color-alt: hsl(var(--ps-hue-color), 57%, 53%);
	--ps-first-color-lighter: hsl(var(--ps-hue-color), 92%, 85%);
	--ps-title-color: hsl(var(--ps-hue-color), 8%, 15%);
	--ps-text-color: hsl(var(--ps-hue-color), 8%, 45%);
	--ps-text-color-light: hsl(var(--ps-hue-color), 8%, 65%);
	--ps-input-color: hsl(var(--ps-hue-color), 70%, 96%);
	--ps-body-color: hsl(var(--ps-hue-color), 60%, 99%);
	--ps-container-color: #fff;
	--ps-scroll-bar-color: hsl(var(--ps-hue-color), 12%, 90%);
	--ps-scroll-thumb-color: hsl(var(--ps-hue-color), 12%, 80%);

	/*========== Font and typography ==========*/
	--ps-body-font: 'Poppins', sans-serif;
	--ps-big-font-size: 2rem;
	--ps-h1-font-size: 1.5rem;
	--ps-h2-font-size: 1.25rem;
	--ps-h3-font-size: 1.125rem;
	--ps-normal-font-size: 0.938rem;
	--ps-small-font-size: 0.813rem;
	--ps-smaller-font-size: 0.75rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-white dark:bg-black text-black dark:text-white;
	font-family: var(--ps-body-font);
}

h1,
h2,
h3,
h4 {
	color: var(--ps-title-color);
	font-weight: 600;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Re-usable css starts */
.ps-container {
	@apply max-w-3xl ml-6 mr-6;
}

.ps-grid {
	@apply grid gap-6;
}

.ps-section {
	@apply pt-8 px-0 pb-16;
}

.ps-section__title {
	@apply text-ps-h1-font-size text-ps-title-color;
}

.ps-section__subtitle {
	@apply block text-ps-small-font-size mb-12;
}

.ps-section__title,
.ps-section__subtitle {
	@apply text-center;
}

.ps-button {
	@apply inline-block bg-ps-first-color text-white p-4 rounded-lg font-medium;
}

.ps-button__icon {
	@apply text-xl ml-2 duration-300;
}

.ps-button__flex {
	@apply inline-flex items-center;
}

.ps-button__small {
	@apply py-3 px-4;
}

.ps-button__link {
	@apply p-0 bg-transparent text-ps-first-color;
}

.ps-button__link:hover {
	@apply bg-transparent text-ps-first-color-alt;
}

/* Override style of swiper slide arrows */
.swiper-button-prev,
.swiper-button-next {
	@apply text-ps-first-color !important;
}

.swiper-horizontal > .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
	@apply -bottom-1;
}

.swiper-pagination .swiper-pagination-bullet-active {
	@apply bg-ps-first-color;
}

/* Re-usable css ends */
